@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Lato:wght@100;300;400;700;900&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background: url(../img/BG-Header.jpeg) center/cover no-repeat;
}
.header__container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__logo {
  margin-top: 165px;
}
.header__title {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
  margin-top: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -80px;
  width: 20%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.1s linear;
}
.header__title:hover::before {
  width: 100%;
}
.header__title-text {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.16em;
  color: #ffffff;
  text-align: center;
}
.header__button {
  margin-top: 280px;
}
.header__arrov-down {
  margin-top: 75px;
  margin-bottom: 75px;
}

.button {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #ffffff;
  height: 50px;
  width: 180px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  box-shadow: 0 0 2px 1px;
  transition: all 0.2s linear;
}

.main__menu {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  height: 60px;
}
.main__menu .menu__list {
  max-width: 400px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
}
.menu__item {
  font-family: "Lato";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
}
.menu__item:hover {
  text-shadow: #3c3c3c 0 0 1px;
}
.menu__item-active {
  font-weight: 700;
  color: #ada074;
}
.menu__item-active:hover {
  text-shadow: none;
}

.about__conteiner {
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__title {
  margin-top: 130px;
  margin-bottom: 70px;
}
.about__text {
  margin-bottom: 70px;
}
.about__text-h2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}
.about__content-conteiner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.title-h2 {
  font-family: Lato;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
}
.title-h2:hover {
  cursor: pointer;
}
.title-h2::before {
  content: "";
  display: block;
  height: 1px;
  width: 70%;
  background-color: #000000;
  position: absolute;
  bottom: -33px;
  transition: all 0.1s ease;
}
.title-h2:hover::before {
  width: 100%;
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.content-block .content-block__href {
  border: 1px solid #868585;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.content-block__h3 {
  font-family: "Lato";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin-bottom: 35px;
  text-align: center;
}
.content-block__text {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  text-align: center;
}

.portfolio {
  background-color: #f3f3f3;
}
.portfolio__conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1105px;
  align-items: center;
  margin: auto;
}
.portfolio__title {
  margin-top: 107px;
  margin-bottom: 91px;
}
.portfolio__menu {
  width: 100%;
}
.portfolio__menu .menu__list {
  max-width: 320px;
  width: 100%;
}
.portfolio__content {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.portfolio__content-conteiner {
  height: 365px;
  width: 48%;
  background-color: #eaeaea;
  margin-bottom: 16px;
}
.portfolio__button {
  margin-top: 64px;
  margin-bottom: 65px;
  border: 1px solid #000;
}
.portfolio__button p {
  color: #000000;
}
.portfolio__button:hover {
  box-shadow: 0 0 2px 1px #000000;
  transition: all 0.2s linear;
}

.partners {
  background: url(../img/Bg-partner.jpeg) center/cover no-repeat;
}
.partners__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 590px;
  margin: auto;
}
.partners__title {
  margin: 90px 0;
  font-family: "Lato";
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.partners__logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.contact {
  margin: auto;
  max-width: 800px;
}
.contact__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  margin: 170px 0;
}
.contact__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.form {
  min-width: 350px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}
.form p {
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 17px;
}
.form input, .form textarea {
  background-color: #f8f7f7;
  border-top: 1px solid #000000;
  height: 35px;
  width: 100%;
}
.form__name {
  width: 45%;
}
.form__email {
  width: 45%;
}
.form__message {
  width: 100%;
  margin: 75px 0 41px;
}
.form__message textarea {
  height: 120px;
}
.form__button {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  background-color: #ffffff;
  margin-right: 0;
  margin-left: auto;
}

.data {
  min-width: 350px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20% 0 30px;
}
.data__text {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
}
.data__name {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 35px 0 20px;
}
.data__social {
  display: flex;
  margin-bottom: 26px;
}
.data__fb {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.data__instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.data__email {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.data__email span {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
}

.footer {
  background-color: #3C3C3C;
}
.footer__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  margin-top: 50px;
  margin-bottom: 40px;
}
.footer__menu {
  width: 260px;
  display: flex;
  justify-content: space-between;
}
.footer__menu-items {
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #a4a4a4;
}
.footer__menu-items:hover {
  text-shadow: #f2e9e9 0 0 1px;
}
.footer__copyrait {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "Myriad Pro";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}